<div class="row">
  <div class="col-md-12">
    <%= panel_for @battery_pack_types do %>
      <div class="table-responsive">
        <table id="data-table" class="table table-striped table-bordered">
          <thead>
            <tr>
              <th>Name</th>
            </tr>
          </thead>
          <tbody>
          <% @battery_pack_types.each do |model| %>
            <tr>
              <td><%= link_to model.name, battery_pack_type_path(model) %></td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
      <%= link_to 'New Battery pack type', new_battery_pack_type_path, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>
