<table class="table">
  <tbody>
    <td>
      <%= f.check_box :_destroy %>
    </td>
    <td>
      <%= f.label :property_type %>
    </td>
    <td>
      <%= f.text_field :value %>
    </td>
  </tbody>
</table>
