<td>
  <%= link_to object do %>
    <i class="fa fa-lg fa-eye"></i>
  <% end %>
  <%= link_to edit_polymorphic_path(object) do %>
    <i class="fa fa-lg fa-edit"></i>
  <% end %>
  <%= link_to object, method: :delete, data: { confirm: 'Are you sure?' } do %>
    <i class="fa fa-lg fa-trash-o"></i>
  <% end %>
</td>
